<mat-toolbar>
  <div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon *ngIf="isLogged">menu</mat-icon>
      <mat-icon>navigation</mat-icon>
    </button>
    <span>Vehicle Tracker</span>
  </div>
  <div>
    <mat-icon>person</mat-icon>
    <button class="register" mat-raised-button color="primary" *ngIf="isLogged">Register</button>
    <button class="login" mat-raised-button color="primary" *ngIf="isLogged">Log in</button>
  </div>
</mat-toolbar>

<div id="mainContent">
  <div id="carCharacteristics">
    <div class="vehicle">
      <span>Vehicle brand: {{vehicle.vehicleBrand}} </span>
    </div>
    <div class="vehicle">
      <span>Vehicle name: {{vehicle.vehicleName}} </span>
    </div>
    <div class="vehicle">
      <span>Vehicle type: {{vehicle.vehicleType}} </span>
    </div>
    <div class="vehicle">
      <span>Year of production: {{vehicle.yearOfProduction}} </span>
    </div>
  </div>

  <div>
    <table>
      <table id="table">
        <tr>
          <th>Average distance travelled</th>
          <th>Average fuel consumption</th>
        </tr>
        <tr>
          <td>{{carStatistics.avgKilometers}} km</td>
          <td>{{carStatistics.averageFuelConsumption}} l</td>
        </tr>
        <tr>
          <th>Average speed</th>
          <th>Average usage of device</th>
        </tr>
        <tr>
          <td>{{carStatistics.averageSpeed}} km/h</td>
          <td>{{carStatistics.averageTimeUsage}} h</td>
        </tr>
      </table>
    </table>
  </div>
  <app-open-street-map></app-open-street-map>
</div>

<div class="diagrams-grid">
  <div class="content">
    <div class="chart-container">
      <canvas  id="MyChartAvgKilometers" >{{ chart }}</canvas>
    </div>
    <div class="chart-container">
      <canvas  id="MyChartAvgSpeed" >{{ chart }}</canvas>
    </div>
  </div>
  <div class="content">
    <div class="chart-container">
      <canvas  id="MyChartAvgTimeUsage" >{{ chart }}</canvas>
    </div>
    <div class="container">
      <canvas  id="MyChartAvgFuelConsumption" >{{ chart }}</canvas>
    </div>
  </div>
</div>


<footer>&copy;VehicleTracker</footer>
